/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
  font-family: Gravity;
  src: url('assets/fonts/gravity-book.ttf') format("TrueType");
}

body{ 
    margin: 0;
    font-family: Gravity !important;
}

.menuIcon{
    color:white;
}


/* Side nav*/
mat-drawer {
    background: linear-gradient(#38307B, #56489B, #7C88ED);
    width: 300px;
}

mat-drawer-container{
    height:100vh;
}

.content {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-toolbar {
    background-color: #ffffff !important;
}

.settings-icon {
  padding: 0 14px;
  color: #C2C3CD;
}
.spacer {
  flex: 1 1 auto;
}

.group::before {
    position: absolute;
    top: 20px;
    left: -15px;
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

.active::before {
    background: #FFF;
    height: 40px;
    top: 5px;
}

.messageInput {
    width: 100%;
    bottom:0;
    position: fixed;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}



.login {
    text-align: center;
    max-width: 400px;
}
 
mat-spinner {
    width: 20px !important;
    height: 20px !important;
    display: inline-block;
    margin-left: 10px;
}
 
mat-spinner svg{
    width: 20px !important;
    height: 20px !important;
}
